{% extends 'base.html' %}
{% load static %}
{% block content %}
	 <div class="container login">
	 	<div class="row">
	 		<div class="col-md-3 login-left">
	 			<h2> {{request.user.username}} </h2>
	 			<q>Everthing is possible in this world but you just have to believe in yourself.</q>
	 			<br>
	 			<i class="material-icons" style="font-size:48px;color:white">person</i>
	 		</div>
	 		<div class="col-md-9 login-right">
                <div class="row login-form">
                	<h3 class="login-heading">Reset your password ( Updation )!!!!!</h3><br>
					<form action="{% url 'passwordReset' %}" method="post" class="agile_form">
						{% csrf_token %}
						<div class="col-md-12">
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Current Password*"  name="current_password" value="" />
							</div><br>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="New Password*" name="new_password" value="" />
							</div> <br>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">RESET</button>
							</div>
						</div>
					</form>
					{% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                    {% endfor %}
					{% endif %}
            	</div>
            </div>
	 	</div>
	</div><br><br>

{% endblock content %}
