{% load static %}
<div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" data-aos="fade-bottom">
                    <h4> InnoVza</h4>
                    <h5 style="font-size: 16px;color: white;"> Where Innovation starts with a team</h5>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3" data-aos="fade-bottom">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email" href="#"> innoVza656@gmail.com </a></li>
                        <br/>
                        <li> <p> Amritsar,Punjab </p> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3" data-aos="fade-bottom">
                    <ul>
                        <li> <h5> <a href="/aboutus" style="margin-top: 5em"> ABOUT US</a> <h5></li>
                    </ul>
                </div>

            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © InnoVza 2020. All right reserved. </p>

        </div>
    </div>
    <!--/.footer-bottom-->

</footer>
</div>
