<!DOCTYPE html>
<html>
<head>
	<title>InnoVza</title>
	<style type="text/css">
		.pin1 {
    width: 38%;
    height: 40vh;
    border: 3px solid #aeb5b0;
    margin-left: 349px;

}
		.ot1 {
    width: 95%;
    height: 35vh;
    border: 1px solid #c2c4c3;
    text-align: center;
    margin-left: 12px;
    margin-top: 15px;
}
</style>
</head>
<body>
<div class="pin1">
          <div class="ot1">
	           <h2>Select Your Profile Picture</h2>
	           <form action="/profile_photo" method="post" enctype="multipart/form-data">
				   {% csrf_token %}
		            <input type="file" name="profile_pic"  value=""  style="width: 300px;height: 5vh;" /><br>
				    <button type="submit" style="width: 300px;height: 5vh;background-color: #f8f9fa;text-align: center;margin-top: 40px;">Update</button>
	           </form>
         </div>
</div>
</body>
</html>